

*{
	margin:0;
	padding:0;
}

body{
	font-family: 'Lato', sans-serif;
}

.common{
	width:100%;
	float:left;
}

.container{
	width: 1140px;
	margin:0 auto;

}

.logo{
	width:40%;
	float:left;
	text-align: center;
	margin: 30px 0px;


}

.menu{
	width:60%;
	float:left;
	margin: 30px 0px;
}

.menu ul{
	list-style: none;
}

.menu ul li{
	display:inline-block;
	margin: 0px 5px;
	padding:7px 25px;
}

.menu ul li a{
	text-decoration: none;
	color:#2D3950;
	text-transform: uppercase;
}

.menu ul li a:hover{
	color:#15A4FA;
}

/* Banner section start here  */

.banner{

	background-image: url('../images/banner.png');
	width:100%;
	background-repeat: no-repeat;
	background-size: cover;

}

.banner-content{

	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 217px 0px 0px 0px;
}

.banner-content h1{
	padding-bottom: 35px;
	font-family: Lato bold;
	font-size: 120px;
	color:white;
}

.banner-content span{
	border-bottom: 2px solid #16A4FA;
	display:block;
	width:50%;
	margin:0 auto;
	margin-bottom: 45px;
}

.banner-content p{
	font-family: lato-ragular;
	font-weight: 400;
	font-size: 20px;
	color:white;
}

.banner-content button{
	border: 1px solid #16A4FA;
	padding:15px 35px;
	background-color: transparent;
	margin: 70px 0px 120px 0px;
	color: white;

}

.banner-content button a{
	color: white;
	font-size: 18px;
	text-decoration: none;
}



.button-icon a{
	color:white;
	font-size: 35px;
}

.button-icon{
	padding-bottom: 90px;
}

/* Banner section end here  */

/* Info section start here  */

.info{
	background-color: #F7F8FA;
}

.info-content{
	text-align: center;
}

.info-content h1{
	font-size: 40px;
	color:#2D3951;
	margin:80px 0px 40px 0px;
}

.info-content p{
	color:#999999;
	font-size: 20px;
	margin-bottom: 110px;
}

/* Info section end here  */

/* Service section start here */

.service{
	background-color: #FFFFFF;
}

.service-content{
	text-align: center;
	float:left;
	width:28%;
	margin: 65px 0px;
	padding:0px 30px;
}

.service-content h3{
	font-weight: 400;
	color:#2D3951;
	margin: 35px 0px 25px 0px;
	font-size: 20px;
}

.service-content p{
	color:#999999;
	font-size: 16px;
}

.service-content div{
	font-size: 35px;
	color:white;
	background-color:#48BAFF;
	width:100px;
	margin:0 auto;
	padding: 25px 0px;
}

/* Service section end here */

/* Gallery section start here */

.gallery_section{
	background-color: #F7F8FA;
}


.gallery{
	text-align: center;
	padding: 80px 0px 115px 0px;
}

.gallery h1{
	color:#2D3951;
	font-size: 42px;
	font-weight: 700;
}

.gallery p{
	margin: 30px 0px 50px 0px;
	font-weight: 400;
	font-size: 15px;
	color:#999999;

}

.gallery-image{
	width:33.33%;
	float:left;
	margin-top: 20px;
}

/* Gallery section end here */

.contactbg{
	background-image: url('../images/footerimage.png');
	
}


.contact{
	text-align: center;
	padding: 80px 0px 115px 0px;

}

.contact h1{
	color:#2D3951;
	font-size: 42px;
	font-weight: 400;
	color:white;
}

.contact p{
	margin: 15px 0px 50px 0px;
	font-weight: 400;
	font-size: 15px;
	color:#999999;

}



 .contact_form input[type="text"]{
	border: 1px solid grey;
	padding: 20px 15px;
	background-color: transparent;
	width: 40%;
	margin-bottom: 15px;

}

 .contact_form input[type="email"]{
	border: 1px solid grey;
	padding: 20px 15px;
	background-color: transparent;
	width: 40%;
	margin-bottom: 15px;

}

.contact_form input[type="textarea"]{
	border: 1px solid grey;
	padding: 20px 15px;
	background-color: transparent;
	width: 40%;
	margin-bottom: 15px;

}


.contact_form input::placeholder{
	font-size: 16px;
}


.contact_form textarea[type="text"]::placeholder{

	font-size: 16px;
	font-family: Lato;

}


.contact_form textarea{
	border: 1px solid grey;
	padding: 20px 15px 150px 15px;
	background-color: transparent;
	width: 40%;
	margin-bottom: 15px;
}

.form_bottom{
	width: 50%;
	margin: 0 auto;

}
.form_bottom .form_input{
	float:left;
	width:50%;
	text-align: left;
}

.form_input input{
	margin-left: 40px;
}

.form_checkbox{
	color:white;
	margin-left: 10px;
}

.form_checkbox{
	text-transform: capitalize;

}

.form_bottom .form_button{
	float:left;
	width:43%;
	text-align: right;
}

.form_button input {
	padding: 10px 35px;
	background-color: transparent;
	border: 1px solid #16A4FA;
	color:white;
	font-weight: 400;
	font-size: 17px;
}

.footer{

}


.footer_left{
	width:50%;
	float:left;
}

.footer_left p{

	margin: 35px 0px 40px 0px;
	color:#999999;
	
}
.footer_right{
	position: relative;
	width:50%;
	float:left;
	height: 90px;
	
}

.footer_right ul{
	position: absolute;
	bottom:40%;
	left:70%;

}
.footer_right ul li{
	list-style: none;
	display: inline-block;
}

.footer_right ul li a{
	padding: 10px;
	background-color: #16A4FA;
	color: white;
	border-radius: 4px;

}

.footer_right ul li a svg#one{
	padding: 0px 5px;
}






