*{
	margin:0;
	padding:0;
}

body{
	background-color: yellow;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-position: cover;
	background-attachment: fixed;
}

.admin{

	margin: 0 auto;
	margin-top:60px;
	display: block;
}

.loginsection{

	width:25%;
	margin: 0 auto;
	margin-top:50px;
}

.logininput{
	display: block;
	padding: 8px;
	margin-top: 10px;
	border: 1px solid #23B0FA;
	border-radius: 7px;
	width: 100%;
	color: blue;
	font-size: 15px;
}

.logininput::placeholder{
	color: #BFA302;

}

.loginbutton{
	padding: 6px 15px;
	margin-top:10px;
	background-color: #23B0FA;
	border:1px solid yellow;
	color:#202F54;
	
	border-radius: 7px;
	font-size:15px;



}

.loginbutton:hover{
	background-color: #BFA302;
	cursor: pointer;
	color:white;
	border:1px solid white;
}


.loginlink{
	margin-left: 5px;
	color: white;
	
	font-size: 15px;
}

.loginlink:hover{
	color: #C5A01B;
}



/* admin panel end */


/* Sign up page start*/

#signup{
	color:white;
	text-align: center;
	font-size: 34px;
}


.signupp{
	display:inline-block;
	color:white;
	margin-left: 10px;
	margin-top: 30px;
}

.signupp a{
	color:white;
	margin-left: 10px;
}


/*Sign up page end */

/*Forgot password page start*/


#info{
	color:wheat;
	margin-top: 25px;
}















/*Forgot password page end*/